<form name="editInfo" class="form-horizontal" ng-submit="editInfo.$valid?save():false">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <h1>{{'app.general.infos'|translate}}: {{'de_DE'|translate}}</h1>
            <generic-input
                init-resource="initRo"
                instance="instance"
                instance-type="info"
                fields="['title','preview','text']"
                language="de_DE">
            </generic-input>

        </div>

        <div class="col-md-4">
            <h1>{{'app.general.infos'|translate}}: {{'en_EN'|translate}}</h1>
            <generic-input
                instance="instance"
                instance-type="info"
                fields="['title','preview','text']"
                init-resource="initRo"
                language="en_EN">
            </generic-input>
        </div>
    </div>


    <div class="row">
        <div class="col-md-push-2 col-md-8">
            <generic-input
                instance="instance"
                instance-type="info"
                fields="[ 'publishDate','archived']"
                init-resource="initRo"
                language="en_EN">
            </generic-input>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-5 col-md-4">
            <button type="submit" class="btn btn-primary {{editInfo.$valid?'':'disabled'}}">
                {{'app.general.save'|translate}}
            </button>
            <a ui-sref="^.list" class="btn btn-default">{{'app.general.cancel'|translate}}</a>
            <button ng-if="instance.$$deleteSelf" type="button" class="btn btn-danger" ng-click="delete()">
                {{'app.general.delete'|translate}}
            </button>
        </div>
    </div>
</form>
