<div class="form-group generic-input" ng-repeat="def in definitions">

    <div class="col-sm-12">

        <label for="{{(language|langRef)}}_{{def.name}}" ng-if="def.type!=='empty'">{{ ($parent.prefix +'.' + def.name)
            |translate}}
            <span ng-if="def.required">*</span></label>

        <span ng-if="def.type=='text'">

            <input ng-if="def.translatable" type="text"
                   id="{{(language|langRef)}}_{{def.name}}"
                   ng-required="def.required"
                   ng-model="instance[(language|langRef)][def.name]"
                   ng-maxlength="def.maxLength"
                   class="form-control">

            <input ng-if="!def.translatable" type="text"
                   id="{{(language|langRef)}}_{{def.name}}"
                   ng-required="def.required"
                   ng-model="instance[def.name]"
                   ng-maxlength="def.maxLength"
                   class="form-control">
        </span>

        <span ng-if="def.type=='textarea'">
            <textarea ng-if="def.translatable"
                      id="{{(language|langRef)}}_{{def.name}}"
                      ng-model="instance[(language|langRef)][def.name]"
                      ng-required="def.required"
                      ng-maxlength="def.maxLength"
                      rows="10"
                      class="form-control"></textarea>

            <textarea ng-if="!def.translatable"
                      id="{{(language|langRef)}}_{{def.name}}"
                      ng-model="instance[def.name]"
                      ng-required="def.required"
                      ng-maxlength="def.maxLength"
                      rows="10"
                      class="form-control"></textarea>
        </span>

        <span ng-if="def.type=='tags'">
                <tags-input class="" ng-if="def.translatable"
                            ng-model="instance[(language|langRef)][def.name]" tolist=""
                    ></tags-input>

                <tags-input class="" ng-if="!def.translatable"
                            ng-model="instance[def.name]" tolist=""></tags-input>
        </span>
        <span ng-if="def.type=='epmty'">
        </span>

        <span ng-if="def.type=='image'">
            <div class="row" ng-if="instance[def.name] && def.isList">
                <div class="col-md-4" ng-repeat="url in instance[def.name]">
                    <img class="img-thumbnail img-responsive" ng-src="{{url}}">
                    <a ng-click="def.opts.removeImageAtIdx($index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>


                </div>
            </div>
            <img ng-if="instance[def.name] && !def.isList" style="max-height:200px;"
                 ng-repeat="url in instance[def.name]" ng-src="{{url}}">

            <input type="file" img-cropper-fileread image="def.opts.sourceImage"
                    ng-if="!instance[def.name]||def.isList"/>
            <div ng-if="def.opts.sourceImage">

                 <canvas width="500" height="300" id="canvas"
                         image-cropper image="def.opts.sourceImage"
                         cropped-image="def.opts.croppedImage"
                         crop-width="def.opts.width"
                         crop-height="def.opts.height"
                         keep-aspect="def.opts.keepAspect"
                         touch-radius="def.opts.touchRadius"
                         crop-area-bounds="def.opts.bounds">
                 </canvas>

                 <a class="btn btn-default" ng-click="def.opts.ok(instance)">OK</a>
                <a class="btn btn-warning" ng-click="def.opts.cancel()">cancel</a>
             </div>

        </span>

        <div ng-if="def.type =='reference'" class="form-group">
            <select class="form-control" ng-options="item.value as item.label for item in def.opts.data" ng-model="instance[def.name]">
            </select>
        </div>

        <div ng-if="def.type == 'datetime'">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" ng-attr-id="{{def.name + '_datetime'}}"
                   data-toggle="dropdown"
                   data-target="#">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="instance[def.name]"
                               format-date-time="{{def.format}}">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <datetimepicker data-ng-model="instance[def.name]"
                                    data-datetimepicker-config="
                                        {dropdownSelector: '#' + def.name + '_datetime',
                                         startView: def.startView || 'day',
                                         minView: def.minView || 'minute'}"/>
                </ul>
            </div>
        </div>
    </div>
</div>
