<div class="form-group generic-input" ng-repeat="def in definitions">

    <div class="col-sm-12">

        <label for="{{(language|langRef)}}_{{def.name}}" ng-if="def.type!=='empty'">{{ ($parent.prefix +'.' + def.name) |translate}} <span ng-if="def.required">*</span></label>

        <span ng-if="def.type=='text'">

            <input ng-if="def.translatable" type="text"
                   id="{{(language|langRef)}}_{{def.name}}"
                   ng-required="def.required"
                   ng-model="instance[(language|langRef)][def.name]"
                   ng-maxlength="def.maxLength"
                    class="form-control">

            <input ng-if="!def.translatable" type="text"
                   id="{{(language|langRef)}}_{{def.name}}"
                   ng-required="def.required"
                   ng-model="instance[def.name]"
                   ng-maxlength="def.maxLength"
                   class="form-control">
        </span>

        <span ng-if="def.type=='textarea'">
            <textarea ng-if="def.translatable"
                      id="{{(language|langRef)}}_{{def.name}}"
                      ng-model="instance[(language|langRef)][def.name]"
                      ng-required="def.required"
                      ng-maxlength="def.maxLength"
                      rows="10"
                      class="form-control"></textarea>

            <textarea ng-if="!def.translatable"
                      id="{{(language|langRef)}}_{{def.name}}"
                      ng-model="instance[def.name]"
                      ng-required="def.required"
                      ng-maxlength="def.maxLength"
                      rows="10"
                      class="form-control"></textarea>
        </span>

        <span ng-if="def.type=='tags'">
                <tags-input class="" ng-if="def.translatable"
                            ng-model="instance[(language|langRef)][def.name]" tolist=""
                           ></tags-input>

                <tags-input class="" ng-if="!def.translatable"
                            ng-model="instance[def.name]"  tolist="" ></tags-input>
        </span>
        <span ng-if="def.type=='epmty'">
        </span>
    </div>
</div>
