<div>
    <table class="table table-striped">

        <thead>
            <tr>
                <th ng-repeat="field in fields">
                    <a href="" ng-click="order(field, !page.desc)">{{field|translate}}
                     <span class="glyphicon" ng-show="page.predicate === field" ng-class="{'glyphicon-chevron-down':page.desc, 'glyphicon-chevron-up':!page.desc}"></span>
                    </a>
                </th>
                <th ng-if="editable"></th>
            </tr>
        </thead>

        <tbody>

            <tr ng-repeat="entry in page.items">
                <td ng-repeat="field in fields" ng-style="{'background-color' : $index==0 ? entry.color : ''}">
                    <span ng-bind-html="resolve(entry,field) | highlight:filters.search.value:field:filters.search.field"></span></td>
                <td ng-if="editable">
                    <button class="btn btn-default " ng-click="edit(entry.identifier)">{{'app.general.edit'|translate}}</button>
                </td>
            </tr>
        </tbody>

    </table>

    <pagination ng-change="selectPage()"
                total-items="page.totalItems"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                boundary-links="false"
                items-per-page="page.size"
                ng-model="page.current"
                max-size="10"
                num-pages="page.numPages"
                rotate="false"></pagination>

</div>
