<table class="table table-striped">

    <thead>
        <tr>
            <th ng-repeat="field in fields"  >{{field|translate}}</th>
            <th ng-if="editable"></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="entry in data">
            <td ng-repeat="field in fields"  >{{resolve(entry,field)}}</td>
            <td ng-if="editable">
                <button class="btn btn-default " ng-click="edit($index)">{{'app.general.edit'|translate}}</button>
            </td>
        </tr>
    </tbody>


</table>
