<form name="editNews" class="form-horizontal" ng-submit="editNews.$valid?save():false">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <h1>{{'app.general.news'|translate}}: {{'de_DE'|translate}}</h1>
            <generic-input
                init-resource="initRo"
                instance="instance"
                instance-type="news"
                fields="['title','preview','text','tags','author']"
                language="de_DE">
            </generic-input>

        </div>

        <div class="col-md-4">
            <h1>{{'app.general.news'|translate}}: {{'en_EN'|translate}}</h1>
            <generic-input
                instance="instance"
                instance-type="news"
                fields="['title','preview','text','tags', 'publishDate']"
                init-resource="initRo"
                language="en_EN">
            </generic-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-push-2 col-md-8">
            <generic-input
                instance="instance"
                instance-type="news"
                fields="['image']"
                init-resource="initRo"
                language="en_EN">
            </generic-input>
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-5 col-md-4">
            <button type="submit" class="btn btn-default {{editNews.$valid?'':'disabled'}}">
                {{'app.general.save'|translate}}
            </button>
            <button type="reset" class="btn btn-default">{{'app.general.cancel'|translate}}</button>
            <button ng-if="instance.$$deleteSelf" type="button" class="btn btn-default" ng-click="delete()">
                {{'app.general.delete'|translate}}
            </button>
        </div>
    </div>
</form>
