<div class="row">
    <div class="col-md-6">
        <h1>{{'app.general.events'|translate}}</h1>
    </div>
    <div class="col-md-6">
        <button class="btn btn-default pull-right" ng-click="create()">{{'app.general.create'|translate}}</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <label for="query">{{'app.general.search.filter.label'|translate}}</label>
        <input type="text" id="query" class="form-control" ng-model="filter.search.value" placeholder="{{'app.general.search.filter.placeholder'|translate}}" />
    </div>

    <div class="col-sm-3">
        <label for="categoryFilter">{{'events.filter.category.label'|translate}}</label>
        <select id="categoryFilter" class="form-control" ng-model="filter.category.value" ng-options="option.value as option.label for option in categoryOptions"></select>
    </div>

    <div class="col-sm-3">
        <label for="locFilter">{{'events.filter.location.label'|translate}}</label>
        <select id="locFilter" class="form-control" ng-model="filter.location.value" ng-options="option.value as option.label for option in locationOptions"></select>
    </div>
</div>


<bstable data="events"
            fields="['de.name','de.preview',
                    'start', 'end','eventCategory']"
            translation-key=".de."
            editable="index.events.update"
            filters="filter"
            order-by="start">
</bstable>

