<form name="editLocation" class="form-horizontal" ng-submit="editLocation.$valid?save():false">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <h1>{{'app.general.location'|translate}}: {{instance.code}} {{'de_DE'|translate}}</h1>
            <generic-input
                instance="instance"
                instance-type="location"
                fields="['name','preview','description','tags']"
                language="de_DE" init-resource="initRo">
            </generic-input>
        </div>

        <div class="col-md-4">
            <h1>{{'app.general.location'|translate}}: {{instance.code}} {{'en_EN'|translate}}</h1>
            <generic-input
                instance="instance"
                instance-type="location"
                fields="['name','preview','description']"
                language="en_EN" init-resource="initRo">
            </generic-input>
        </div>

        <div class="row">
            <div class="col-md-offset-5 col-md-6">
                <h3>{{ 'location.geoCoords'|translate}}
                </h3>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <label>{{'geoCoordinate.latitude'|translate}}</label>
                <input class="form-control" type="number" step="any" ng-model="instance.geoCoordinate.latitude">

            </div>
            <div class="col-md-push-1 col-md-2">
                <label>{{'geoCoordinate.longitude'|translate}}</label>
                <input class="form-control" type="number" step="any" ng-model="instance.geoCoordinate.longitude">
            </div>

            <div class="col-md-push-2 col-md-2">
                <label>{{'geoCoordinate.size'|translate}}</label>
                <input class="form-control" type="number" step="any" ng-model="instance.geoCoordinate.size">
            </div>
        </div>


        <div class="form-group ">
            <div class="col-md-push-2 col-md-8">
                <coordpicker ng-model="instance.geoCoordinate"></coordpicker>
            </div>

        </div>
        <div class="row">
            <div class="col-md-push-2 col-md-8">
                <generic-input
                    instance="instance"
                    instance-type="location"
                    fields="['markOnMap']"
                    language="en_EN"
                    init-resource="initRo">
                </generic-input>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-offset-5 col-md-6">
            <h3>{{ 'location.images'|translate}}
            </h3>

        </div>
    </div>


    <div class="row">
        <div class="col-md-push-2 col-md-8">
            <generic-input
                instance="instance"
                instance-type="location"
                fields="['images','archived']"
                language="en_EN"
                init-resource="initRo">
            </generic-input>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-5 col-md-4">
            <button type="submit" class="btn btn-primary {{editLocation.$valid?'':'disabled'}}">
                {{'app.general.save'|translate}}
            </button>
            <a ui-sref="^.list" class="btn btn-default">{{'app.general.cancel'|translate}}</a>
            <button ng-if="instance.$$deleteSelf" type="button" class="btn btn-danger" ng-click="delete()">
                {{'app.general.delete'|translate}}
            </button>
        </div>
    </div>
</form>
