<form name="editLocation" class="form-horizontal" ng-submit="editLocation.$valid?save():false">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <h1>{{'app.general.location'|translate}}: {{instance.code}} {{'de_DE'|translate}}</h1>
            <generic-input
                instance="instance"
                instance-type="location"
                fields="['name','preview','description','tags']"
                language="de_DE">
            </generic-input>
        </div>

        <div class="col-md-4">
            <h1>{{'app.general.location'|translate}}: {{instance.code}} {{'en_EN'|translate}}</h1>
            <generic-input
                instance="instance"
                instance-type="location"
                fields="['name','preview','description','tags']"
                language="en_EN">
            </generic-input>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-5 col-md-4">
            <button type="submit" class="btn btn-primary {{editLocation.$valid?'':'disabled'}}">
                {{'app.general.save'|translate}}
            </button>
            <a ui-sref="^.list" class="btn btn-default">{{'app.general.cancel'|translate}}</a>
            <button ng-if="instance.$$deleteSelf" type="button" class="btn btn-danger" ng-click="delete()">
                {{'app.general.delete'|translate}}
            </button>
        </div>
    </div>
</form>
