<div class="row">
    <div class="col-md-6">
        <h1>{{'app.general.locations'|translate}}</h1>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary btn-lg btn-create pull-right" ng-click="create()">{{'app.general.create'|translate}}</button>
    </div>
</div>

<br>

<div class="row">

    <div class="col-sm-3">
        <label for="query">{{'app.general.search.filter.label'|translate}}</label>
        <input type="text" id="query" class="form-control" ng-model="filter.search.value" placeholder="{{'app.general.search.filter.placeholder'|translate}}" />
    </div>

</div>

<bstable data="locations"
                    fields="['de.name','de.preview','de.description']"
                    translation-key=".de." editable="index.locations.update"
                    filters="filter"
                    order-by="de.name">
</bstable>

