<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{'app.general.confirm.delete.title'|translate}}</h3>
</div>
<div class="modal-body">
     <b>{{item}}</b> {{'app.general.confirm.delete.text'|translate}}
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$close()">{{'app.general.delete'|translate}}</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>